/frontend/.DS_Store
/frontend/node_modules
node_modules
/frontend/dist
/server/build


# local env files
.env.local
.env.*.local

# All frontend env files. These files are automatically copied from the
# project root to the frontend, when debug.sh is executed.
/frontend/.env*

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea