// Variables
$mint-green: #2f989c;
$maize: #efcd58;
$light-green: #28be98;
$dashboard-bg: #f7f8fa; 
$blue-grey: #7c8f9c;
$blue-green: #606d78;
$light-teal: #9fd6b7;
$cornflower-blue: #5c75c3;

// Alignments

.block{
    display: block;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.center-content{
    justify-content: center;
}

.center-ver{
    align-items: center;
}

.bottom-ver{
  align-items: flex-end;
}

.flex-column{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

.align-content-space-betw{
  align-content: space-between;
}

.container{
    padding: 1em 1.2em;
}

// Helper

.pointer{
  cursor: pointer;
}

// Fonts

.sub-icon-font{
    font-size: 0.8em;
}

.title-segment{
    color: $mint-green;
    font-weight: 700;
}

.title-card{
  font-size: 24px;
  font-weight: 700;
  color: $blue-green;
  margin-top: 0;
}

// Resets

a{
    text-decoration: none; 
}

li{
    list-style: none;
    ul{
        margin: 0;
        padding: 0;
    }
}

// Navigation

.offset-navi{
    height: 55px;
  }

// Tabbar

.default-tabs {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin: 0 auto 40px auto;
    &__item {
      display: inline-block;
      margin: 0 5px;
      padding: 10px;
      padding-bottom: 8px;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 0.8px;
      color: #abd2bf;
      text-decoration: none;
      border: none;
      background-color: transparent;
      border-bottom: 2px solid transparent;
      cursor: pointer;
      transition: all 0.25s;
      &_active {
        color: #2f989c;
      }
      &:hover {
        border-bottom: 2px solid #2f989c;
        color: #2f989c;
      }
      &:focus {
        outline: none;
        border-bottom: 2px solid #2f989c;
        color: #2f989c;
      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    &__active-line {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      background-color: #2f989c;
      transition: transform 0.4s ease, width 0.4s ease;
    }
  }

  // Buttons

  .border-button {
    cursor: pointer;
  }

  .border-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #28be98;
    -webkit-transform: translate(4px, 5px);
    transform: translate(-2px, -2px);
    border-radius: 8px;
    z-index: -1;
  }

  .secondary-button::before{
    background: $light-teal;
  }
  
  // Cards

  .card-header, .card-body, .card-button-group{
    width: 100%;
  }

  // Info List

  .infolist{
    color: #ffffff;
    line-height: 1em;
  }
  
  .list-topics{
    font-weight: 700;
    margin-right: 2em;
  }

  // Input

  .border-input::before {
    content: '';
    position: absolute;
    width: 40vw;
    height: 44px;
    transform: translate(-6px, -3px);
    background: #ffffff;
    border-radius: 8px;
}