
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.center-content{
    justify-content: center;
}

.center-ver{
    align-items: center;
}

.container{
    padding: 1em 1.2em;
}

// Fonts

.sub-icon-font{
    font-size: 0.8em;
}

// Resets

li{
    list-style: none;
    ul{
        margin: 0;
        padding: 0;
    }
}
