// Variables
$mint-green: #2f989c;
$maize: #efcd58;
$light-green: #28be98;
$dashboard-bg: #f7f8fa; 
$blue-grey: #7c8f9c;

// Alignments

.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.center-content{
    justify-content: center;
}

.center-ver{
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

.container{
    padding: 1em 1.2em;
}

// Fonts

.sub-icon-font{
    font-size: 0.8em;
}

.title-segment{
    color: $mint-green;
    font-weight: 700;
}

// Resets

a{
    text-decoration: none; 
}

li{
    list-style: none;
    ul{
        margin: 0;
        padding: 0;
    }
}
